[package]
name = "blade-graphics"
version = "0.0.1"
edition = "2021"

[lib]

[dependencies]
bitflags = "1"
bytemuck = "1"
codespan-reporting = "0.11"
log = "0.4"
naga = { version = "0.10", features = ["wgsl-in", "span", "validate"] }
raw-window-handle = "0.5"

[target.'cfg(any(target_os = "ios", target_os = "macos"))'.dependencies]
block = "0.1"
core-graphics-types = "0.1"
foreign-types = "0.3"
metal = "0.24"
objc = "0.2.5"
naga = { version = "0.10", features = ["msl-out"] }

[target.'cfg(any(portability, not(any(target_os = "ios", target_os = "macos"))))'.dependencies]
ash = "0.37"
ash-window = "0.12"
naga = { version = "0.10", features = ["spv-out"] }
