[package]
name = "blade-graphics"
version = "0.1.0"
edition = "2021"

[lib]

[dependencies]
bitflags = "1"
bytemuck = "1"
codespan-reporting = "0.11"
hidden-trait = "0.1"
log = "0.4"
naga = { workspace = true, features = ["clone"] }
raw-window-handle = "0.5"

[target.'cfg(any(target_os = "ios", target_os = "macos"))'.dependencies]
block = "0.1"
core-graphics-types = "0.1"
foreign-types = "0.3"
metal = "0.24"
objc = "0.2.5"
naga = { workspace = true, features = ["msl-out"] }

[target.'cfg(any(vulkan, windows, target_os = "linux", target_os = "android"))'.dependencies]
ash = "0.37"
ash-window = "0.12"
gpu-alloc = "0.5"
gpu-alloc-ash = "0.5"
naga = { workspace = true, features = ["spv-out"] }
slab = "0.4"

[target.'cfg(any(gles, target_arch = "wasm32"))'.dependencies]
glow = { git = "https://github.com/kvark/glow", branch = "get-program-resource" }
naga = { workspace = true, features = ["glsl-out"] }

[target.'cfg(all(gles, not(target_arch = "wasm32")))'.dependencies]
egl = { package = "khronos-egl", version = "4.1", features = ["dynamic"] }
libloading = { version = "0.7" }

[target.'cfg(all(target_arch = "wasm32"))'.dependencies]
wasm-bindgen = "0.2.83"
web-sys = { workspace = true, features = ["HtmlCanvasElement", "WebGl2RenderingContext"] }
js-sys = "0.3.60"
